**Move Zeroes**

Given an integer array nums, move all 0's to the end of it while maintaining the relative order of the non-zero elements.

Note that you must do this in-place without making a copy of the array.
```python
Example 1:
Input: nums = [0,1,0,3,12]
Output: [1,3,12,0,0]

Example 2:
Input: nums = [0]
Output: [0]
```
```python 
Constraints:
a. 1 <= nums.length <= 10^4
b. -2^31 <= nums[i] <= 2^31 - 1
```

In [13]:
def moveZeroes(nums) -> None:
    
    # Initialize a pointer to track the position to swap with
    swap = 0
    
    # Iterate through the array
    for i in range(len(nums)):
        # If the current element is not 0, swap it with the element at the swap position
        if nums[i] != 0:
            nums[i], nums[swap] = nums[swap], nums[i]
            swap += 1
    print(nums)

nums = [0, 1, 0, 3, 12]
moveZeroes(nums)

[1, 3, 12, 0, 0]

**First Unique Character in a String**

Given a string s, find the first non-repeating character in it and return its index. If it does not exist, return -1.

```python
Example 1:
Input: s = "leetcode"
Output: 0

Example 2:
Input: s = "loveleetcode"
Output: 2

Example 3:
Input: s = "aabb"
Output: -1

Constraints:
a. 1 <= s.length <= 10^5
b. s consists of only lowercase English letters.
```

In [16]:
def firstUniqChar(s: str) -> int:
    char_count = {}
    
    # Count the occurrences of each character
    for char in s:
        char_count[char] = char_count.get(char, 0) + 1
    
    # Find the first character with count 1
    for i in range(len(s)):
        if char_count[s[i]] == 1:
            return i
    
    # If no non-repeating character is found, return -1
    return -1

# Test the function
s = "leetcode"
print(firstUniqChar(s)) 

s = "loveleetcode"
print(firstUniqChar(s)) 

s = "aabb"
print(firstUniqChar(s))

0
2
-1